.calculator-wrapper{
	background-color:#F0F0F0; 
	border: 2px groove #CCC; 
	max-width: 190px; 
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin:0 auto;
	padding:5px;
}
.result-box
{
	border:2px groove #F1F1F1;
	padding:6px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin:5px;
	background-color:#D6F5D6;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F2FEDE), color-stop(1, #E1F2C7) );
	background: -moz-linear-gradient( center top, #F2FEDE 5%, #E1F2C7 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2FEDE', endColorstr='#E1F2C7');
	text-align:right;
	font-weight:bold;

}
.numbtnholder
{
	max-width:180px;
	margin:0 auto;
}
.numbtn{
	width:38px;
	height:26px;
	margin:5px 1px; 
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:1px;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFF), color-stop(1, #E0E0E0) );
	background: -moz-linear-gradient( center top, #FFF 5%, #E0E0E0 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E0E0E0');
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #D0D0D0 #D0D0D0 #B0B0B0;
	font-family:arial, helvetica, sans-serif;
	color:#333;
	outline:none;
}
.numbtn:active
{
top:1px;
position:relative;
}
